<div class="container">
  <h1>Stupid Coaching <br> Don't be lazy!</h1>

  <div class="question-container">
    <p>
    <% if @question.blank? %>
    * blank stare * <br>
    * dreams about winning the lottery *
    <% else %>
    <%= @question %>
    <% end %>
    </p>

    <em>- You</em>
  </div>

  <div class="answer-container">
    <p> <%= @answer %> </p>

    <em>- Your Coach</em><br>
  </div>

  <p class="button"><%= link_to "ask a new question", ask_path %></p>

</div>
