
<div class="container">
  <h1>Stupid Coaching <br> Ask a question</h1>

  <form id="form" action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="your question here">
    <input type="submit" value="Ask!">
  </form>
</div>
